<!-- Any other content you want on the homepage -->
<h2 class="py-4 text-2xl tracking-wider text-center uppercase">Welcome to Cellar Vault!</h2>
<p class="">Here's some information about what we do.</p>
