<!-- Any other content you want on the homepage -->
<h2 class="text-7xl text-emerald-600">Welcome to Cellar Vault!</h2>
<p class="text-green-500">Here's some information about what we do.</p>

<!-- Include the login form partial -->
{{> loginform}}

<!-- More content if needed -->
